*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    background: lightblue;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #003147;
    padding: 25px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.contact ul
{
    position: relative;
}
.contact ul li
{
    position: relative;
    list-style: none;
    height: 22px;
}
.contact ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size: 16px;
    color:cyan;
}
.contact ul li span
{
    color: #fff;
    font-family: 300;
}
.skillsSummary
{
    margin-top: 30px;
    position: relative;
}
.skillsSummary ul
{
    position: relative;
}
.skillsSummary ul li
{
    color: #fff;
    font-family: 300;
}
.strenghts
{
    margin-top: 30px;
    position: relative;  
}
.strenghts ul
{
    position: relative;
}
.strenghts ul li
{
    color: #fff;
    font-family: 300;
}
.programmingLanguages
{
    position: relative;
    margin-top: 30px;
}
.programmingLanguages ul
{
    position: relative;
}
.programmingLanguages ul li
{
    color: #fff;
    font-family: 300;
}
.databases
{
    position: relative;
    margin-top: 30px;
}
.databases ul
{
    position: relative;
}
.databases ul li
{
    color: #fff;
    font-family: 300;
}
.onlineCourses
{
    position: relative;
    margin-top: 30px;
}
.onlineCourses ul
{
    position: relative;
}
.onlineCourses ul li
{
    color: #fff;
    font-family: 300;
}
.onlineCourses .Attained
{
    color: #fff;
}
.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.titleRight
{
    color: #003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-decoration: underline
}
.right_side .myName
{
    color: #003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.2px solid;
    margin: 1em 0;
    padding: 0;
}
.right_side .uniGrad
{
    color: #003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: medium;
}
.persProf
{
    position: relative;
    margin-top: 20px;
    text-align: justify;
}
.workExp
{
    position: relative;
    margin-top: 30px;
    text-align: justify; 
}
.workExp .job
{
    margin-bottom: 4px;
    padding-top: 0px;
}
.workExp .company
{
    color: gray;
}
.educationHis
{
    position: relative;
    margin-top: 30px;
    text-align: justify; 
}
.educationHis .job
{
    margin-bottom: 4px;
    padding-top: 0px;
}
.educationHis .qualification
{
    color: gray;
}
.projects
{
    
    position: relative;
    margin-top: 30px;
    text-align: justify;
}
.projects .projName
{
    margin-bottom: 4px;
    padding-top: 0px;
}

/* Hyperlink function for ONLINE COURSES - START*/
.onlineCourses a:link
{
    color: #fff
}
.onlineCourses a:hover
{
    color: hotpink;
    font-weight: bold;
}
/* Hyperlink function for ONLINE COURSES - END*/


/* Hyperlink function for LinkedIn - START*/
.contact a:link
{
    color: #fff
}
.contact a:hover
{
    color: hotpink;
    font-weight: bold;
}
/* Hyperlink function for LinkedIn - END*/


/* Hyperlink function for PROJECTS - START*/
.projects a:hover
{
    font-weight: bold;
}
/* Hyperlink function for PROJECTS - END*/